{% extends "blog/base.html" %}

{% block content %}
    {% for p in posts %}
        <h2>
             <a href="{{ p.get_absolute_url }}">
                 {{ p.title }}
            </a>
        </h2>
        <div id="post_img">
            <a href="{{ blog.get_absolute_url }}">
                {% if blog.image %}
                    <img src='{{ blog.img.url }}' />
                {% endif %}
            </a>
        </div>

        <!-- join模板过滤器的功能是将字符串连接起来 -->
        <p class="tags"> Tags:
            {% for tag in p.tags.all %}
                 <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                 </a>
                 {% if not forloop.last %}, {% endif %}
              {% endfor %}
         </p>
         <p class="date">
             Published {{ p.publish }} by {{ p.author }}
          </p>
         {{ p.body|truncatewords:30|linebreaks }}
         <div id="bar">

         </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}

{% endblock %}
